/*BACKGROUNDS*/
.deppink{background: deeppink;}
.color-white{color:white;}
.color-black{color:black;}
.color-tblack{color:rgb(49, 49, 49);}
h1,h2,h3{font-size: 2rem;}
h4,h5{font-size: 1.5rem;}
h6{font-size: 1rem;}

.bg-white{background:white;}
.bg-black{background:black;}
.bg-one{background: url("../img/makeup.jpg"); background-size: cover; max-height: 500px;}
.bg-two{background: url("../img/sound.jpg"); background-position: center; background-size: cover; max-height: 500px;}
.bg-three{background: url("../img/catering.jpg"); background-position: center; background-size: cover; max-height: 500px;}
.bg-four{background: #19191b;}

/*COLORS*/
.nav-link a {color:#ffffff;}
.nav-link a:hover {color:rgba(255, 255, 255, 0.705); transition: all .5s;}

body{
    font-family: 'Poppins', sans-serif;
    margin-top: var(--nav-height);
}

/*HEADER*/
header{
    height: var(--nav-height);
}
header .brand{
    line-height: var(--nav-height);
}
header .menu ul{
    line-height: var(--nav-iheight);
}
header .menu ul li{
    padding: 0.55rem;
}
header label:hover{ 
    opacity: 0.6;
    transition: all .5s;
}
header .button-close{
    position: absolute;
    top: 0;
    width: 50px;
}

/*FOOTER*/
.footer-link a{
    color: white;
}
.footer-link a:hover{ color: rgba(255, 255, 255, 0.795); }


/*CONFIG & CLASS*/
:root{
    --nav-height: 4rem;
    --nav-iheight: 3rem;
}
.hr-bar{
    border: 1px solid rgba(255, 255, 255, 0.336); 
    max-width: 300px;
}
.hr-bar-i{
    border: 1px solid rgba(0, 0, 0, 0.336); 
    max-width: 300px;
}

@media(max-width:768px){
    .menu{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, deeppink, deeppink, transparent);
        margin-left: -100vw;
        z-index: 1;
    }
    .menu ul{
        display: flex; 
        flex-direction: column;
    }
    .menu ul li{
        line-height: 1.50rem;
    }
    .menu ul li:hover{
        transition: all .5s;
    }
    .menu a{ font-size: 1.1rem;}
    .first-link{margin-top: 2rem;}
}